{erl_opts,
 [debug_info,
  warn_export_all,
  warn_export_vars,
  warn_unused_record,
  warn_bif_clash,
  warn_obsolete_guard,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_deprecated_function]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{deps, [{fast_yaml, {git, "https://github.com/processone/fast_yaml.git", {tag, "1.0.24"}}},
        {yval, {git, "https://github.com/zinid/yval.git", {branch, "master"}}}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
